@import 'on-circle';

.circle-container {
  @include on-circle($item-count: 8, $circle-size: 300px, $item-size: 90px);

  div.ui-tempo {
    display: block;
    max-width: 100%;
    height: 90px;
    border-radius: 50%;
        background-image:url(buttons/kick-normal.png);
    background-size: 100%;
    // background-color: cadetblue;
    //filter: grayscale(100%);

    //transition: .15s;

    &:hover,
    &:active {
      //filter: grayscale(0);
      rotate: 45deg;
    }
  }

  div.ui-tempo.active {
    background-image:url(buttons/kick-active.png);
    background-size: 100%;
  }
}

 #kick-container {
  @include on-circle($item-count: 8, $circle-size: 300px, $item-size: 90px);

  div.ui-kick {
    display: block;
    width: 90px;
    height: 90px;
    max-width: 100%;
    filter: grayscale(60%);

    //transition: .15s;

    &:hover,
    &:active {
      //filter: grayscale(0);
    }

  }
  div.ui-kick.selected {
    filter: grayscale(0);
  }

}


#snare-container {
  @include on-circle($item-count: 8, $circle-size: 550px, $item-size: 90px);

  div.ui-snare {
    display: block;
    width: 80px;
    height: 80px;
    max-width: 100%;
    background-image:url(buttons/snare-normal.png);
    background-size: 100%;
    filter: grayscale(75%);
    transition: filter 0.8s linear;

    //transition: .15s;

    &:hover,
    &:active {
      //filter: grayscale(0);
    }

  }
  div.ui-snare.selected {
    filter: grayscale(0);
  }

}

#hihat-container {
  @include on-circle($item-count: 8, $circle-size: 800px, $item-size: 90px);

  div.ui-hihat {
    padding-top: -10px;
    display: block;
    width: 90px;
    max-width: 100%;
    //height: 135px;
    //border-radius: 50%;
    background-image:url(buttons/hihat-normal.png);
    background-size: 100%;
    filter: grayscale(60%);
    width: 90px;
    height: 90px;
  
    //transition: .15s;

    &:hover,
    &:active {
      //filter: grayscale(0);
    }

  }
  div.ui-hihat.selected {
    filter: grayscale(0);
  }

}

.game-container {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  #instructions{
    color: aliceblue;
  }
 
}

.play-button {
  border: 2px solid #333333;
  border-radius: 3px;
  width: 10%;
  height: 30px;
  text-align: center;
  padding-top: 10px;
  &:hover {
    background-color: #737d7a;
  }
  margin-left: 45%;
}

#canvas-background {
  //position: fixed;
  width: 100%;
  height: 100%;
  display: block;
  -webkit-transform: translateZ(0)

}

#bg-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  filter:opacity(40%);
  background-color: black;
}



.infokeys {
	background-image: url(buttons/key-indicators.png);
    background-size: 100%;
    height: 187px;
    width: 566px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 80px;
}

body{
	background-color: black;
}

.logo{
	background-image: url(images/logo.png);
	width: 300px;
	height: auto;
}


#overlay {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  filter:opacity(40%);
  background-color: #737d7a;
  .message{
    padding-top: 25%;
    text-align: center;
  }
}

