#game-container {
  //position: fixed;
  //right: 0;
  //bottom: 0;
  //min-width: 100%;
  //min-height: 100%;
  #grid-container {

    .row {
      .column {
        margin: 15px;
        float: left;
        height: 100px;
        width: 100px;
        color: purple;
        .point{
          height: 75px;
          line-height: 75px;
          width: 75px;
          border-radius: 25px;
          text-align: center;
        }
      }
      clear: both;
    }
  }
}

#canvas-background {
  //position: fixed;
  width: 100%;
  height: 100%;
  display: block;
  -webkit-transform: translateZ(0)

}

#bg-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  filter: opacity(40%);
  background-color: black;
}

.infokeys {
  //background-image: url(buttons/key-indicators.png);
  //background-size: 100%;
  //height: 187px;
  //width: 566px;
  //position: absolute;
  //bottom: 0;
  //right: 0;
  //margin: 80px;
}

body {
  background-color: black;
}

.logo {
  background-image: url(images/logo.png);
  width: 300px;
  height: auto;
}

#info div {
  color: wheat;
}

#feedback {
  margin-top: 50px;
  margin-left: 50px;
  color: wheat;
  font-size: 30px;
}